body{

    margin: 0;
    
}

.firstp{

    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
    background-color: #1F2937;
    flex-direction: column;
    border: 3px solid lightpink;
}

.head{
    display: flex;
    
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    padding-bottom:  70px;
}

header{

    font-weight: bold;
    font-size: 24px;
    color:  #F9FAF8;
}

ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    color: white;
}

.first-shs{

    display: flex;
    

    
}

.secondhead{
    display: flex;
    
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 80px;
    
}

.emptys{

    display: flex;
    
    padding: 30px;
    padding-right: 315px;
}


.shs{

    
    


}

.shs-2{

    
    font-size: 18px;
    color: #E5E7EB;
   
    
}
p{
    margin-bottom: 0;
}

.shs-3{


    
    
}

.placeholderi{
    display: flex;
    flex: 1;
    
    justify-content: center;
    align-items: flex-start;
    
    
}

.placeholderi2{

    display: flex;
    
    background-color: gray;
    padding: 110px;
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{

    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.button1{
    width:100px;
    height:30px;
    background-color: #3882F6 ;
    color: white; 
    border-radius: 5px;
    border-color: #3882F6;
    font-weight: bolder;
}

.secondp{

    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tr{

    
}

.spc{

    
    display: flex;
    padding: 10px;
    gap: 20px;
}

.box{

    padding: 80px;
    padding-bottom: 180px;
    border: 6px solid blue;
    border-radius: 12px;
}

.box1{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box2{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box3{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box4{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title2{

    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}


.thirdp{

    border: 3px solid orange;
    background-color: #E5E7EB;
    padding: 150px;
    
}

.firstpa{

    display: flex;

    justify-content: center;
}

.firstpat{

    text-align:justify;
    font-size: 36px;
    font-style: italic;
}


.secondpa{

    display: flex;
    justify-content: end;
}
.secondpat{

    font-size: 36px;
    font-weight: bolder;
}